# Load the libraray

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Read the dataset

In [11]:
data = pd.read_csv('/home/hpcap/Desktop/Ai exam/Ques2/titanic-tested.csv')

In [12]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# Find the number of nulls in each column

In [13]:
print(data.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Gender           0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

# Replace nulls in the age column with the average age

In [14]:
data['Age'].fillna(data['Age'].mean(), inplace=True)

In [15]:
print("Number of male records:", data['Gender'].value_counts()['male'])
print("Number of female records:", data['Gender'].value_counts()['female'])

Number of male records: 266
Number of female records: 152


# how many male and female records exist in the dataset

In [16]:
print(data['Gender'].value_counts())

Gender
male      266
female    152
Name: count, dtype: int64