In [7]:
"""Accecpt the travelled by 10 travellers from the user. Calculate and display the mean,mode,median, range, IQR"""

'Accecpt the travelled by 10 travellers from the user. Calculate and display the mean,mode,median, range, IQR'

In [8]:
import pandas as pd
import numpy as np

In [9]:
num_travellers = int(input("Enter the number of Travellers : "))
distance =[]

for i in range(num_travellers):
    distance.append(int(input(f"Enter the distance travelled by Traveller {i+1} : ")))

distance

[101, 201, 301, 200, 255, 420, 101, 442, 322, 201]

In [10]:
df = pd.DataFrame(distance)
df

     0
0  101
1  201
2  301
3  200
4  255
5  420
6  101
7  442
8  322
9  201

In [11]:
df.mean()

0    254.4
dtype: float64

In [12]:
df.mode()

     0
0  101
1  201

In [13]:
df.median()

0    228.0
dtype: float64

In [14]:
max = df.max()
min = df.min()

max - min

0    341
dtype: int64

In [15]:
q3 = df.quantile(0.75)
q1 = df.quantile(0.25)

q3 - q1

0    116.5
dtype: float64